/* $Id: comment.css,v 1.4 2007/07/24 21:33:53 goba Exp $ */

.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.preview .comment {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 22:58:32 Feb 22, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:32:42 Oct 07, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/