.rteindent1 {
  margin-left: 40px;
}
.rteindent2 {
  margin-left: 80px;
}
.rteindent3 {
  margin-left: 120px;
}
.rteindent4 {
  margin-left: 160px;
}
.rteleft {
  text-align: left;
}
.rteright {
  text-align: right;
}
.rtecenter {
  text-align: center;
}
.rtejustify {
  text-align: justify;
}
.image_assist{
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-image: url(/web/20120726103104im_/http://www.laadanlanguage.org/pages/sites/all/modules/fckeditor/plugins/imgassist/imgassist.gif);
  background-position: 50% 50%;
  border: 1px dashed #dddddd;
}
.ibimage_left {
  float: left;
}
.ibimage_right {
  float: right;
}
/*
     FILE ARCHIVED ON 10:31:04 Jul 26, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:28:37 Oct 07, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/