/* $Id: content-module.css,v 1.1.2.6.2.1 2009/06/06 23:44:57 markuspetrux Exp $ */

/* Node display */
.field .field-label,
.field .field-label-inline,
.field .field-label-inline-first {
  font-weight:bold;
}
.field .field-label-inline,
.field .field-label-inline-first {
  display:inline;
}
.field .field-label-inline {
  visibility:hidden;
}

/* Node form display */
.node-form .content-multiple-table td.content-multiple-drag {
  width:30px;
  padding-right:0;/*LTR*/
}
.node-form .content-multiple-table td.content-multiple-drag a.tabledrag-handle{
  padding-right:.5em;/*LTR*/
}

.node-form .content-add-more .form-submit{
  margin:0;
}

.content-multiple-remove-button {
  display: block;
  float: right;
  height: 14px;
  width: 16px;
  margin: 2px 0 1px 0;
  padding: 0;
  background:transparent url(/web/20120726105626im_/http://www.laadanlanguage.org/pages/sites/all/modules/cck/images/remove.png) no-repeat 0 0;
  border-bottom: #C2C9CE 1px solid;
  border-right: #C2C9CE 1px solid;
}
.content-multiple-remove-button:hover {
  background-position: 0 -14px;
}
.content-multiple-removed-row .content-multiple-remove-button {
  background-position: 0 -28px;
}
.content-multiple-removed-row .content-multiple-remove-button:hover {
  background-position: 0 -42px;
}
html.js .content-multiple-removed-row {
  background-color: #ffffcc;
}
.content-multiple-weight-header,
.content-multiple-remove-header,
.content-multiple-remove-cell,
.content-multiple-table td.delta-order {
  text-align: center;
}
html.js .content-multiple-weight-header,
html.js .content-multiple-remove-header span,
html.js .content-multiple-table td.delta-order,
html.js .content-multiple-remove-checkbox {
  display: none;
}

.node-form .number {
  display:inline;
  width:auto;
}
.node-form .text {
  width:auto;
}

/* CSS overrides for Views-based autocomplete results.
  - #autocomplete uses "white-space:pre", which is no good with
    Views' template-based rendering
  - Field titles are rendered with <label> in default templates,
    but we don't want the 'form' styling it gets under .form-item
*/
.form-item #autocomplete .reference-autocomplete {
  white-space:normal;
}

.form-item #autocomplete .reference-autocomplete label {
  display:inline;
  font-weight:normal;
}

/* 'Manage fields' overview */
#content-field-overview-form .advanced-help-link,
#content-display-overview-form .advanced-help-link {
  margin: 4px 4px 0 0;/*LTR*/
}
#content-field-overview-form .label-group,
#content-display-overview-form .label-group,
#content-copy-export-form .label-group {
  font-weight: bold;
}
table#content-field-overview .label-add-new-field,
table#content-field-overview .label-add-existing-field,
table#content-field-overview .label-add-new-group {
  float: left;/*LTR*/
}
table#content-field-overview tr.content-add-new .tabledrag-changed {
  display: none;
}
table#content-field-overview tr.content-add-new .description {
  margin-bottom: 0;
}
table#content-field-overview .content-new {
  font-weight: bold;
  padding-bottom: .5em;
}

/* 'Advanced help' pages */
.advanced-help-topic h3,
.advanced-help-topic h4,
.advanced-help-topic h5,
.advanced-help-topic h6  {
  margin:1em 0 .5em 0;
}
.advanced-help-topic dd {
  margin-bottom: .5em;
}
.advanced-help-topic span.code {
  background-color:#EDF1F3;
  font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;
  font-size:0.9em;
  padding:1px;
}
.advanced-help-topic .content-border {
  border:1px solid #AAA
}
/*
     FILE ARCHIVED ON 10:56:26 Jul 26, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:17:19 Oct 07, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/